*{
    padding: 0;
    margin: 0;
}
#navbar{
    
    background-color: black;
    height: 60px;
    
}

#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
}

a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

.content-divs{
    margin-top: 2px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    background-color:rgba(0,255,0,0.5);
}
#box2{
    background-color:rgba(010,253,300,0.5);
}
#box3{
    background-color:rgba(200,255,010,0.5);
}
#content{
    height: 600px;
}

footer{
    color: white;

    text-align: center;
    background-color: black;
}